#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.Logo {
  display: flex;
}

.AternosLogo {
  width: 400px;
  height: 80px;
  background: transparent;
  backdrop-filter: blur(2px);
  border: 2px solid #0066ff;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 118px;
}

.container1 {
  font-family: monospace;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  background: transparent;
  backdrop-filter: blur(3px);
  border: 2px solid #0066ff;
  border-radius: 15px;
  padding: 15px;
}

h1 {
  font-size: 48px;
  color: #0066ff;
  margin: 0px;
}

h2 {
  font-size: 33px;
  color: #0066ff;
  margin: 0px;
}

.container2 {
  display: grid;
}

button {
  width: 476px;
  height: 50px;
  font-size: 35px;
  border: 2px solid #0066ff;
  border-radius: 10px;
  background-color: #0e345e;
  color: #0066ff;
  margin: 0px;
}

button:hover {
  backdrop-filter: blur(50px);
  height: 55px;
}

.container3 {
  display: grid;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #0066ff;
  font-size: 30px;
  margin: 0px;
}

.inputfield {
  width: 470px;
  height: 40px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid #0066ff;
  border-radius: 10px;
  color: #0066ff;
}

.inputfield1 {
  margin-top: 7px;
  width: 470px;
  height: 40px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid #0066ff;
  border-radius: 10px;
  color: #0066ff;
}

.inputfield:hover {
  height: 43px;
  backdrop-filter: blur(50px);
}

.inputfield1:hover {
  height: 43px;
  backdrop-filter: blur(50px);
}

.blabla {
  width: 476px;
  height: 45px;
  font-size: 30px;
  border: 2px solid #0066ff;
  border-radius: 10px;
  background-color: #0e345e;
  color: #0066ff;
  margin-top: 7px;
}

.blabla:hover {
  backdrop-filter: blur(50px);
  height: 48px;
}

.beta {
  font-family: monospace;
  color: red;
  margin-top: 80px;
}
